<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1>Welcome to {{ title }}!</h1>
      <app-cars></app-cars>
    </div>
  </div>
</div>
