<!-- <ul>
  <li>
    <input type="text" class="form-control" [(ngModel)]="carName">
  </li>
  <li class="btns">
    <button class="btn btn-primary" (click)="addText()">Добавить</button>
    <button class="btn btn-primary" (click)="delText()">Удалить</button>
  </li>
 </ul>
<hr>
<ul>
  <li *ngFor="let car of cars">"Название авто: {{car}}"</li>
</ul> -->

<ul>
  <li *ngFor="let date of dates">
    <div>
      <b>{{ date | date}}</b>
    </div>
  </li>
</ul>
