input {
  width: 300px;
  margin-bottom: 20px;
}
ul {
  list-style: none;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.btns {
  width: 300px;
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
}
p {text-align: center;}
